---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/<LOCATION_KEY>/historical/24?apikey=uA1iTBq3FG8D0UAAHa1AHBEokyAcGHO6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '48'
      Akamai-Grn:
      - 0.26962e17.1725526233.1746bf09
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2024-09-05T11:02:00+03:00","EpochTime":1725523320,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":23.4,"Unit":"C","UnitType":17},"Imperial":{"Value":74.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/lida/<LOCATION_KEY>/current-weather/<LOCATION_KEY>?lang=en-us","Link":"http://www.accuweather.com/en/by/lida/<LOCATION_KEY>/current-weather/<LOCATION_KEY>?lang=en-us"},{"LocalObservationDateTime":"2024-09-05T10:02:00+03:00","EpochTime":1725519720,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":21.6,"Unit":"C","UnitType":17},"Imperial":{"Value":71.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/by/lida/<LOCATION_KEY>/current-weather/<LOCATION_KEY>?lang[...]
